{{#section 'scripts'}}
    <script type="text/javascript">
        var $initialization = {
            rootPath: "/admin",
            controllerPath: "/admin",
            applicationPath: "/admin/",
            apiPath: "/api/"
        };
        var $global = {
            initialization: $initialization
        };
    </script>
    <script src="/bundle/admin.js"></script>
{{/section}}

{{#section 'styles'}}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="bundle/styles.css" rel="stylesheet" />
{{/section}}

<div id="root"></div>
