json("../styleconfig.json")
@import "~artistry";

html, body {
    padding: 0;
    margin: 0;
}

.button-big {
    padding: 25px 30px;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.billboard {
    display: block;
    padding: 15px;
    background-color: #524;
    color: #fff;
    text-align: center;
}